---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["fv6BNsXkW4M:APA91bEJGOUzOgGlS_OyU90Av6lDI68AMMIW3rOiCIweYXdwePRcFSYmTQ70R23fCpl7WXTGpH9fsAWTgAMUUu7vSf1anYtlTf5NkldeIn5-ftsCh8nwHItZtXXLhSLtgsyeu-6XTiLD"],"notification":{"body":"Order
        #117: state changed to ''refunded''","title":"Order #117: state changed to
        ''refunded''"},"data":{"message":"Order #117: state changed to ''refunded''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"multicast_id":5708371403378906144,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1470772465559948%de3760eede3760ee"}]}'
  recorded_at: Tue, 09 Aug 2016 19:54:25 GMT
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["dH-EwBXlLY0:APA91bEHV5SUDkfthM7HeVepQ_OUBuw0ZsMhVTy6z3I1WEjonkD7PQj_3YwnlN3OTzZny_9gB3YFarqdn4vM205aPdRxBpYbGeMsNBPD8qu-zFlzvAoQQ3UZfHH9oq2Z01dm6gMax2wp"],"notification":{"body":"Order
        #120: state changed to ''refunded''","title":"Order #120: state changed to
        ''refunded''"},"data":{"message":"Order #120: state changed to ''refunded''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"multicast_id":7554691221656184280,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1470773569976904%de3760eede3760ee"}]}'
  recorded_at: Tue, 09 Aug 2016 20:12:50 GMT
recorded_with: VCR 3.0.3
