---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["fv6BNsXkW4M:APA91bEJGOUzOgGlS_OyU90Av6lDI68AMMIW3rOiCIweYXdwePRcFSYmTQ70R23fCpl7WXTGpH9fsAWTgAMUUu7vSf1anYtlTf5NkldeIn5-ftsCh8nwHItZtXXLhSLtgsyeu-6XTiLD"],"notification":{"body":"Order
        #115: state changed to ''pending''","title":"Order #115: state changed to
        ''pending''"},"data":{"message":"Order #115: state changed to ''pending''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"multicast_id":6945669315733574464,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1470750344394210%de3760eede3760ee"}]}'
  recorded_at: Tue, 09 Aug 2016 13:45:44 GMT
recorded_with: VCR 3.0.3
