---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["eZs-sHGEylQ:APA91bFnxJv3qg3jrhrA0syRX1z9pSiZsyKYO2xT7SMVi_BfreYczSJgjxyPX3TTTkKSB-G5H6rx86tv6luLWEtlLnPwB6mtcpkdV846chzxGYoEEJlkN5TdkJQemfxgE5ZYjvXxx7Mm"],"notification":{"body":"Order
        #1480000129: state changed to ''processing''","title":"Order #1480000129:
        state changed to ''processing''"},"data":{"message":"Order #1480000129: state
        changed to ''processing''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"multicast_id":7182243479112817243,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1480064022120573%7071f1797071f179"}]}'
  recorded_at: Fri, 25 Nov 2016 08:53:43 GMT
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["eZs-sHGEylQ:APA91bFnxJv3qg3jrhrA0syRX1z9pSiZsyKYO2xT7SMVi_BfreYczSJgjxyPX3TTTkKSB-G5H6rx86tv6luLWEtlLnPwB6mtcpkdV846chzxGYoEEJlkN5TdkJQemfxgE5ZYjvXxx7Mm"],"notification":{"body":"Order
        #1480000131: state changed to ''refunded''","title":"Order #1480000131: state
        changed to ''refunded''"},"data":{"message":"Order #1480000131: state changed
        to ''refunded''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"multicast_id":8831375513758789617,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1480064125968456%7071f1797071f179"}]}'
  recorded_at: Fri, 25 Nov 2016 08:55:27 GMT
recorded_with: VCR 3.0.3
