---
http_interactions:
- request:
    method: post
    uri: https://api2.checkout.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"card":{"name":"Miss Matt Quigley","number":"4242424242424242","cvv":"424","expiryYear":"2017","expiryMonth":"09"},"email":"LanaSMartin@dayrep.com"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - secret-key
  response:
    status:
      code: 201
      message: Succeeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - '3.01'
      Version:
      - v2.39.1
    body:
      encoding: UTF-8
      string: '{"responseCode":"10000","id":"cust_49F7E6F8-B990-4E4E-BC58-419A3B0556D0","name":"Miss Matt
        Quigley","liveMode":true,"created":"2015-04-07T14:52:57Z","email":"LanaSMartin@dayrep.com","description":"Minusmaioresvoluptatibussintculpaquasutreiciendisvoluptatem.","phone":{"countryCode":"44","number":"12345678"},"metadata":{"keyname":"testvalue"},"cards":{"count":1,"data":[{"id":"card_721F541E-EF01-4390-A017-7496BE5BFE54","last4":"4242","paymentMethod":"VISA","fingerprint":"C2FD7FEE-1DE9-4A6F-BC0C-1210D2E86FB9","customerId":"cust_49F7E6F8-B990-4E4E-BC58-419A3B0556D0","name":"Miss
        Matt Quigley","expiryMonth":"09","expiryYear":"2017","billingDetails":{"addressLine1":"72
        Myrna Parkways","addressLine2":"Hoppe Fork","nearest_landmark":"aq81ct","country":"US","city":"Serenamouth","state":"Luzmouth","phone":{"countryCode":"44","number":"12345678"}},"cvvCheck":null,"avsCheck":null,"responseCode":"10000"}]},"defaultCard":"card_721F541E-EF01-4390-A017-7496BE5BFE54"}'
  recorded_at: Thu, 16 Jun 2016 13:44:30 GMT

