---
http_interactions:
- request:
    method: post
    uri: https://sbpaymentservices.payfort.com/FortAPI/paymentApi
    body:
      encoding: UTF-8
      string: '{"command":"PURCHASE","amount":"4400","currency":"AED","token_name":"3F36728453274738E053321E320A846C","customer_name":"Steve
        Smith","customer_email":"John.Doe-1@example.com","merchant_reference":46,"language":"en","merchant_extra":"BAh7BjoTY3JlZGl0c19hbW91bnRpaQ","merchant_identifier":"lBmxhStQ","access_code":"B7a8a41jtuK8YBi3dSnA","signature":"907F6490907C3488D94C800B855949760765C90D7ED3487EB04CBBF1BB18D04A"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_code":"B7a8a41jtuK8YBi3dSnA","eci":"ECOMMERCE","status":"20","card_number":"455701******8902","fort_id":"147687803800064557","3ds_url":"https://testfort.payfort.com/secure3dsSimulator?FORTSESSIONID\u003d1nrb1drsgcsm5n4tlcn0lc9ei2\u0026paymentId\u003d5740559166725965820\u0026DOID\u003dC70BAA4D83511CCADAEC071226C925FB\u0026o\u003dpt\u0026action\u003dretry","response_code":"20064","token_name":"3F36728453274738E053321E320A846C","customer_name":"Steve
        Smith","customer_email":"John.Doe-1@example.com","customer_ip":"92.249.109.94","merchant_extra":"BAh7BjoTY3JlZGl0c19hbW91bnRpaQ","currency":"AED","amount":"4400","merchant_reference":"46","response_message":"3-D
        Secure check requested","command":"PURCHASE","payment_option":"VISA","language":"en","expiry_date":"1705","merchant_identifier":"lBmxhStQ","signature":"1f14e22363acd6f31a8bafeb6fbfc7148777a3d3678766f15fea22b3cf14618a"}'
  recorded_at: Wed, 19 Oct 2016 11:54:20 GMT
recorded_with: VCR 3.0.3
