---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["fv6BNsXkW4M:APA91bEJGOUzOgGlS_OyU90Av6lDI68AMMIW3rOiCIweYXdwePRcFSYmTQ70R23fCpl7WXTGpH9fsAWTgAMUUu7vSf1anYtlTf5NkldeIn5-ftsCh8nwHItZtXXLhSLtgsyeu-6XTiLD"],"notification":{"body":"Order
        #23: state changed to ''processing''","title":"Order #23: state changed to
        ''processing''"},"data":{"message":"Order #23: state changed to ''processing''"},"collapse_key":"lavo_laundry"}'
    headers:
      Authorization:
      - key=AIzaSyAHRI1XZnOe6u7Wc7AFZbJOcjPAFjVvfUw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"multicast_id":6449784055360137057,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1470836855504013%de3760eede3760ee"}]}'
  recorded_at: Wed, 10 Aug 2016 13:47:34 GMT
recorded_with: VCR 3.0.3
