<p
  style="margin:0; padding: 0 0 10px; font-family: Arial; font-size: 14px; line-height: 1; color: #5c6480;">
  Your password has been updated.
</p>
<p
  style="margin:0; padding: 0 0 10px; font-family: Arial; font-size: 14px; line-height: 1; color: #5c6480;">
  You can now use your new password to signin.
</p>
