<p
  style="margin:0; padding: 0 0 10px; font-family: Arial; font-size: 14px; line-height: 1; color: #5c6480;">
  You recently requested a password reset.
</p>
<p
  style="margin:0; padding: 0 0 10px; font-family: Arial; font-size: 14px; line-height: 1; color: #5c6480;">
  If you really want to reset your current password please tap
  <%= link_to 'here', @reset_link %>.
</p>